.navigation-panel
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, .17%)
    margin: 20px 0 40px 0
    border-radius: 8px
    padding: 10px 15px

.list
    list-style: none
    display: flex
    flex-wrap: wrap
    padding: 0
    &__item
        width: 32%
        display: flex
        flex-direction: column
        margin-bottom: 20px
        padding: 20px
        border-radius: 8px
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, .25%)
        position: relative
        margin-right: 2%
        &:nth-child(3n + 3)
            margin-right: 0
.search,
.gender,
.country,
.direction
    width: 100%
    padding: 5px 10px
    border-radius: 4px
    border: 1.5px solid #504d4d
.navigation-menu
    padding: 10px 15px
    margin-bottom: 35px
    border-radius: 8px
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, .17%)
    flex-wrap: wrap
    &__list
        list-style: none
        padding: 0 15px
        margin: 0
    &__item
        width: fit-content
        border-radius: 4px
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, .25%)
        margin-right: 15px
.favorite
    padding: 10px 15px
    color: #000
    display: block
    display: block
    &:hover
        color: #000
        text-decoration: none
    &__image
        height: 26px
        margin-left: 10px
.favorite-page
    position: relative
    &__img
        opacity: .4
        width: 15%
        margin: 0 auto
        display: block
        position: absolute
        left: 0
        right: 0
.close 
    width: 20px
    right: 15px
    position: absolute
    cursor: pointer
@media screen and (max-width: 992px)
    .search,
    .gender,
    .country,
        margin-bottom: 20px
    .list
        &__item
            width: 49%
            margin-right: 2%
            &:nth-child(3n + 3)
                margin-right: 2%
            &:nth-child(2n + 2)
                margin-right: 0
@media screen and (max-width: 576px)
    .list
        &__item
            width: 100%
            margin-right: 0
            &:nth-child(3n + 3)
                margin-right: 0
@media screen and (max-width: 470px)
    .navigation-menu
        &__item
            width: 100%
            margin-right: 0
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
